<div class="row">
  <div class="col-md-9">
    <h1 class="display-4"><span>Bem vindo, Java Hipster!</span> (Auto Dock BR)</h1>

    <p class="lead">Esta é a página principal</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Você está logado como "{{ account.email }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Se deseja </span>
        <a class="alert-link" (click)="login()">entrar</a
        ><span
          >, utilize as seguintes contas padrões:<br />- Administrador (usuário="admin" and senha="admin") <br />- Usuário (usuário="user" e
          senha="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Não possui uma conta ainda?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Crie uma nova conta</a>
      </div>
    </div>
  </div>
</div>
